<li class="nav-dropdown-container">
  <a class="nav-link">커뮤니티</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><a href="https://github.com/vuejs/vue" class="nav-link" target="_blank">GitHub</a></li>
    <li><a href="http://forum.vuejs.org" class="nav-link" target="_blank">포럼</a></li>
    <li><a href="https://gitter.im/vuejs/vue" class="nav-link" target="_blank">채팅</a></li>
    <li><a href="https://twitter.com/vuejs" class="nav-link" target="_blank">트위터</a></li>
  </ul>
</li>
